<script src="../service-launcher/service-launcher.component.ts"></script>
<div class="component-card">
    <app-navbar
        (stepsBack)="goBack($event)"
        [currentLevel]="currentLevel"
        [currentSelection]="currentSelection"
        [subplant]="subplants| async"
        [modules]="modules | async"
    ></app-navbar>
    <div class="component-card-content">
        <app-nav-shopfloor
                *ngIf="currentLevel == 1"
                [subplants]="subplants | async"
                (subplantSelection)="selectSubplant($event)"
        ></app-nav-shopfloor>
        <app-nav-subplant
                *ngIf="currentLevel == 2"
                [modules]="modules | async"
                [connection]="connections | async"
                [ports]="ports | async"
                [currentSelection]="currentSelection"
                (userSelection)="selectModules($event)"
        ></app-nav-subplant>
        <app-nav-module
                *ngIf="currentLevel == 3 || currentLevel == 4"
        ></app-nav-module>

    </div>
</div>