<h1 class="mat-h1">Recipe Player</h1>

<mat-card class="recipe-card" *ngIf="player">
  <mat-card-header>
    <mat-card-title>
      <h2 class="mat-h2">Player</h2>
    </mat-card-title>
    <mat-card-subtitle>
      {{player.status}} <span
            *ngIf="player.status==='running'">({{player.currentItem+1}}/{{player.playlist.length}})</span>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
      <div *ngIf="currentRecipe">
          <p>Current Recipe: <span class="mat-body-strong">{{currentRecipe?.options.name}}</span></p>
        <p>Current Step: <span class="mat-body-strong">{{currentRecipe?.currentStep}} - <mat-icon>timelapse</mat-icon> {{currentStepDuration}}</span></p>
          <p>Operations:
              <span class="mat-body-strong">
          <p *ngFor="let operation of currentStep?.operations">
          <span *ngIf="operation.module">{{operation.module}}.</span>{{operation.service}}<span *ngIf="operation.strategy">.{{operation.strategy}}</span>
          ->
              {{operation.command}} <span *ngIf="operation.parameter">{{operation.parameter | json}}</span>
          </p>
          </span>
          </p>
          <p>Transitions:
              <span class="mat-body-strong">
          <p *ngFor="let transition of currentStep?.transitions">
              {{transition.next_step}}: {{transition.condition | json}}
          </p>
          </span>
          </p>
      </div>

    <mat-card-actions *ngIf="player">
      <button [disabled]="!startAllowed()" (click)="start()" color="primary" mat-button>
        <mat-icon>play_arrow</mat-icon>
        Start
      </button>
      <button [disabled]="!pauseAllowed()" (click)="pause()" mat-button>
        <mat-icon>pause_arrow</mat-icon>
        Pause
      </button>
      <button [disabled]="!stopAllowed()" (click)="stop()" mat-button>
        <mat-icon>stop_arrow</mat-icon>
        Stop
      </button>
      <button [disabled]="!resetAllowed()" (click)="reset()" color="accent" mat-button>
        <mat-icon>replay_arrow</mat-icon>
        Reset
      </button>
      <button (click)="abort()" color="warn" mat-button>
        <mat-icon>clear</mat-icon>
        Abort all services
      </button>
        <button (click)="forceTransition()" color="warn" mat-button>
            <mat-icon>skip_next</mat-icon>
            Force Transition
        </button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>

<!--
<mat-card class="recipe-card" *ngIf="currentRecipe as recipe">
  <mat-card-header>
    <mat-card-title>
      <h2 class="mat-h2">{{recipe.options.name}}</h2>
    </mat-card-title>
    <mat-card-subtitle>Active Recipe</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="dashboard-card-content">
    <mat-list>
      <mat-list-item>
        <p mat-line>{{recipe.status}}</p>
        <p mat-line class="mat-form-field-label">Status</p>
      </mat-list-item>
      <mat-list-item>
        <p mat-line>{{recipe.currentStep.name}}</p>
        <p mat-line class="mat-form-field-label">Step</p>
      </mat-list-item>
    </mat-list>
    <h3 class="mat-h3">Steps</h3>
    <mat-accordion *ngIf="recipe">
      <mat-expansion-panel *ngFor="let step of recipe.options.steps"
                           [class.active]="step.name == recipe.currentStep.name">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3 class="mat-h3">{{step.name}} <span
              *ngIf="step.name == recipe.options.initial_step"> (inital step)</span></h3>
          </mat-panel-title>
          <mat-panel-description>
            <span *ngIf="step.name == recipe.currentStep.name">active</span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <h4 class="mat-h4">Operations</h4>
        <mat-list>
          <mat-list-item *ngFor="let operation of step.operations">
            {{operation.module}}.{{operation.service}}<span *ngIf="operation.strategy">.{{operation.strategy}}</span>
            ->
            {{operation.command}}
          </mat-list-item>
        </mat-list>
        <h4 class="mat-h4">Transitions</h4>
        <mat-list>
          <mat-list-item *ngFor="let transition of step.transitions">
            {{transition.next_step}}: {{transition.condition | json}}
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
-->

<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2 class="mat-h2">Playlist</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list *ngIf="player && player.playlist">
      <mat-list-item *ngFor="let item of player.playlist; let i = index"
                     [class.active]="i == player.currentItem && player.status==='running'">
        {{i+1}}. {{item.options.name}}
        <span class="right">
        <small>({{item.options.steps.length}} steps)</small>
        <button mat-button (click)="remove(i)"><mat-icon mat-list-icon>remove_circle</mat-icon></button>
          </span>
      </mat-list-item>
    </mat-list>
    <span *ngIf="player.playlist.length==0">No recipes added to playlist. Go to recipes to <a routerLink="/recipe">recipes</a> add them.</span>
  </mat-card-content>
</mat-card>
