<h1 class="mat-display-1">Edit Recipe</h1>

<p>
  <button type="button" mat-button (click)="imgFileInput.click()">Load from file</button>
  <input hidden type="file" #imgFileInput (change)="previewFile($event)"/>
</p>

<mat-form-field class="example-container">
          <textarea matInput placeholder="Recipe options" matTextareaAutosize
                    matAutosizeMinRows="5"
                    matAutosizeMaxRows="30"
                    [(ngModel)]="recipe"></textarea>
</mat-form-field>

<p>
  <button mat-button (click)="editRecipe()">Apply</button>
  <button mat-button (click)="cancel()">Cancel</button>
</p>
