<h1 mat-dialog-title>New Recipe</h1>
<mat-dialog-content>
  <mat-form-field class="example-container">
    <textarea matInput placeholder="Recipe options" matTextareaAutosize
                      matAutosizeMinRows="5"
                      matAutosizeMaxRows="30"
                      [(ngModel)]="recipe"></textarea>

  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="submitRecipe()">Apply</button>
  <button type="button" mat-button (click)="imgFileInput.click()">Load from file</button>
  <input hidden type="file" #imgFileInput (change)="previewFile($event)"/>
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
