<h1 mat-dialog-title>New Recipe</h1>
<mat-dialog-content>
  <mat-form-field class="example-container">
    <textarea matInput placeholder="Recipe options" matTextareaAutosize
                      matAutosizeMinRows="10"
                      matAutosizeMaxRows="30"
                      [(ngModel)]="recipe"></textarea>

  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <input hidden type="file" #imgFileInput (change)="previewFile($event)"/>
  <button mat-stroked-button color="warn" mat-dialog-close>Cancel</button>
  <button mat-raised-button (click)="imgFileInput.click()">Load from file</button>
  <button mat-raised-button color="primary" (click)="submitRecipe()">Add recipe</button>
</mat-dialog-actions>
