<h1 class="mat-h1">About</h1>

<p>This is a HTML visualization for the <i>Prozessführungsebene</i> (PFE) tool proudly presented by <a
        href="https://tu-dresden.de/ing/elektrotechnik/ifa/plt">PLT/SVT @ TU Dresden</a>.
</p>

<p>It helps you to control the modules connected to the PFE and run recipes on them.</p>


<h2 class="mat-h2">Modules</h2>
<p class="mat-body">Modules are loaded via JSON</p>


<h3 class="mat-h3">Service State Machine</h3>

<img width="60%" src="assets/service_state_machine.png">
<p class="mat-body">Each service consists of a finite state machine which is used to control the service. For that,
  commands are used to trigger state transitions.</p>


<h2 class="mat-h2">Recipes</h2>
<p class="mat-body">Recipes are loaded via JSON</p>

<h2 class="mat-h2">Queue/PLayer</h2>
<p class="mat-body">You can dynamically enqueue recipes.</p>
