<h1 class="mat-h1">About</h1>

<p>This is a HTML visualization for the <i>Prozessführungsebene</i> (PFE) tool proudly presented by <a
        href="https://tu-dresden.de/ing/elektrotechnik/ifa/plt">PLT/SVT @ TU Dresden</a>.
</p>

<p>It helps you to control the modules connected to the PFE and run recipes on them.</p>

<h2>Services</h2>
<mat-card>
    <mat-card-header>
        <mat-card-title><h2 class="mat-h2">Service State Machine</h2></mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/service_state_machine.png">
</mat-card>


