<mat-expansion-panel *ngIf="service" [disabled]="disabled()">
    <mat-expansion-panel-header>
        <mat-panel-title>
            {{service.name}}
        </mat-panel-title>
        <mat-panel-description>
            <span class="serviceState">{{service.status}}</span>
            <small>
                <span *ngIf="service.operationMode">{{service.operationMode}} - {{service.sourceMode}}</span>
                <span *ngIf="changeDuration">&nbsp;(since {{changeDuration}})</span>
            </small>
        </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="form" *ngIf="service.procedures">
        <mat-form-field class="field">
            <mat-select [formControl]="procedureFormControl" placeholder="Procedure">
                <mat-option *ngFor="let procedure of service.procedures" [value]="procedure.id">
                  {{procedure.name}}
                  <span *ngIf="procedure.isSelfCompleting">(self-completing)</span>
                  <span *ngIf="procedure.isDefault">(default)</span>
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="container"
         fxLayout
         fxLayout.lt-md="column"
         fxLayoutGap="10px"
         *ngIf="selectedProcedure">
        <div fxFlex>
            <h3 matTooltip="Procedure Parameters">Parameters</h3>
            <p *ngFor="let param of selectedProcedure.parameters">
                <app-parameter-view [param]="param" (changed)="onChangeParameter($event)"></app-parameter-view>
            </p>
            <p *ngIf="!selectedProcedure.parameters || selectedProcedure.parameters.length===0">---</p>
        </div>
        <div fxFlex>
            <h3 matTooltip="ProcessValuesIn">PV In</h3>
            <p *ngFor="let param of selectedProcedure.processValuesIn">
                <app-parameter-view [param]="param" (changed)="onChangeParameter($event, true)"></app-parameter-view>
            </p>
            <p *ngIf="!selectedProcedure.processValuesIn || selectedProcedure.processValuesIn.length===0">---</p>
        </div>
        <div fxFlex>
            <h3 matTooltip="ProcessValuesOut">PV Out</h3>
            <p *ngFor="let param of selectedProcedure.processValuesOut">
                <app-parameter-view [param]="param"></app-parameter-view>
            </p>
            <p *ngIf="!selectedProcedure.processValuesOut || selectedProcedure.processValuesOut.length===0">---</p>
        </div>
        <div fxFlex>
            <h3>Report Values</h3>
            <p *ngFor="let param of selectedProcedure.reportParameters">
                <app-parameter-view [param]="param"></app-parameter-view>
            </p>
            <p *ngIf="!selectedProcedure.reportParameters || selectedProcedure.reportParameters.length===0">---</p>
        </div>
    </div>
    <mat-action-row *ngIf="service.controlEnable">
        <button matTooltip="Start" mat-button [disabled]="disabled() || !service.controlEnable.start" color="primary"
                (click)="sendCommand('start')">
            <mat-icon matTooltip="Start">play_arrow</mat-icon>
            <span *ngIf="service.controlEnable.start">Start</span>
        </button>
        <button matTooltip="Restart" mat-button [disabled]="disabled() || !service.controlEnable.restart"
                color="primary" (click)="sendCommand('restart')">
            <mat-icon>play_circle_outline</mat-icon>
            <span *ngIf="service.controlEnable.restart">Restart</span>
        </button>
        <button mat-button matTooltip="Complete" [disabled]="disabled() || !service.controlEnable.complete"
                color="primary" (click)="sendCommand('complete')">
            <mat-icon>skip_next</mat-icon>
            <span *ngIf="service.controlEnable.complete">Complete</span>
        </button>
        <button mat-button matTooltip="Reset" [disabled]="disabled() || !service.controlEnable.reset" color="primary"
                (click)="sendCommand('reset')">
            <mat-icon>replay</mat-icon>
            <span *ngIf="service.controlEnable.reset">Reset</span>
        </button>
        <button mat-button matTooltip="Pause" [disabled]="disabled() || !service.controlEnable.pause"
                (click)="sendCommand('pause')">
            <mat-icon>pause_circle_filled</mat-icon>
            <span *ngIf="service.controlEnable.pause">Pause</span>
        </button>
        <button mat-button matTooltip="Resume" [disabled]="disabled() || !service.controlEnable.resume"
                (click)="sendCommand('resume')">
            <mat-icon>play_circle_filled</mat-icon>
            <span *ngIf="service.controlEnable.resume">Resume</span>
        </button>
        <button mat-button matTooltip="Hold" [disabled]="disabled() || !service.controlEnable.hold" color="warn"
              (click)="sendCommand('hold')">
          <mat-icon>pan_tool</mat-icon>
          <span *ngIf="service.controlEnable.hold">Hold</span>
        </button>
        <button mat-button matTooltip="Unhold" [disabled]="disabled() || !service.controlEnable.unhold"
                (click)="sendCommand('unhold')">
            <mat-icon>sync</mat-icon>
            <span *ngIf="service.controlEnable.unhold">Unhold</span>
        </button>
        <button mat-button matTooltip="Stop" [disabled]="disabled() || !service.controlEnable.stop" color="warn"
                (click)="sendCommand('stop')">
            <mat-icon>stop</mat-icon>
            <span *ngIf="service.controlEnable.stop">Stop</span>
        </button>
        <button mat-button matTooltip="Abort" [disabled]="disabled() || !service.controlEnable.abort" color="warn"
                (click)="sendCommand('abort')">
            <mat-icon>error</mat-icon>
            <span *ngIf="service.controlEnable.abort">Abort</span>
        </button>
    </mat-action-row>
</mat-expansion-panel>
