@import "../navigation.component";

::ng-deep rect.module_box {
    stroke: $border-color;
    stroke-width: $border-width;

    &.active_box {
        fill: $fill-active
    }

    &.inactive_box {
        fill: $fill-inactive
    }
}

::ng-deep g.module_hover_group:hover rect {
    fill: $fill-hover;
}

::ng-deep polyline.connection {
    //fill: red;
    stroke: $connection-color;
    stroke-width: $connection-width;
    fill: none;
    stroke-linejoin: round;
    stroke-linecap: round;
}

::ng-deep line.connection {
    stroke: $connection-color;
    stroke-width: $connection-width;
}