<div class="component-card-header" [ngSwitch]="currentLevel">
    <span *ngSwitchCase="1">
            <div class="nav-text">Shopfloor</div>
        </span>
    <span *ngSwitchCase="2">
            <a (click)="goBack(1)">Shopfloor</a> →
            <div class="nav-text">{{subplant[currentSelection.selSubplant].name}}</div>
        </span>
    <span *ngSwitchCase="3" class="frameheader">
            <a (click)="goBack(1)">Shopfloor</a> →
            <a (click)="goBack(2)">{{subplant[currentSelection.selSubplant].name}}</a> →
            <div class="nav-text">{{modules[currentSelection.selModules[0]].id}}</div> →
            <a style="color: #ffbe00;">Show HMI!</a>
        </span>
    <span *ngSwitchCase="4" class="frameheader">
            <a (click)="goBack(1)">Shopfloor</a>
            <a (click)="goBack(2)">{{subplant[currentSelection.selSubplant].name}}</a>
            <a (click)="goBack(3)">{{modules[currentSelection.selModules[0]].id}} </a>
            HMI
        </span>
    <span *ngSwitchDefault>
            Navigation
        </span>
</div>