<h1 class="mat-h1">Recipe Overview</h1>

<div *ngIf="recipe  && options; else noRecipeBlock">
  <mat-list>
    <mat-list-item>Name: {{options.name}}</mat-list-item>
    <mat-list-item>Version: {{options.version}}</mat-list-item>
    <mat-list-item>Status: {{recipe.recipe_status}}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Current Step: {{recipe.current_step | json}}</mat-list-item>
  </mat-list>

  <button mat-raised-button>Refresh</button>
  <button mat-raised-button>Start</button>
  <button mat-raised-button>Stop</button>
  <button mat-raised-button>Abort</button>

  <h2 class="mat-h2">Steps</h2>
  <mat-grid-list cols="3">
    <mat-grid-tile *ngFor="let step of options.steps">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <h3 class="mat-h3">{{step.name}}</h3>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <h4 class="mat-h4">Operations</h4>
          <mat-list>
            <mat-list-item *ngFor="let operation of step.operations">
              {{operation | json}}
            </mat-list-item>
          </mat-list>
          <h4 class="mat-h4">Transitions</h4>
          <mat-list>
            <mat-list-item *ngFor="let transition of step.transitions">
              {{transition | json}}
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<ng-template #noRecipeBlock>
  No recipe loaded yet
</ng-template>

<h2 class="mat-h2">Options</h2>
<div class="example-container">
  <mat-form-field>
    <textarea matInput placeholder="Recipe options" cdkAutosizeTextarea>{{options | json}}</textarea>
  </mat-form-field>
</div>
{{options | json}}
