<h1 class="mat-h1">Recipe</h1>

<button mat-button routerLink="/recipe/new">
  <mat-icon>library_add</mat-icon>
  Add Recipe
</button>

<p *ngIf="recipes.length==0">No recipes loaded yet</p>

<mat-card class="recipe-card" *ngFor="let recipe of recipes">
  <mat-card-header>
    <mat-card-title>
      <h2 class="mat-h2">{{recipe.options.name}}</h2>
      <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item [disabled]="recipe.protected" (click)="remove(recipe.id)">Remove</button>
      </mat-menu>
    </mat-card-title>
      <mat-card-subtitle class="with-icon">
          <mat-icon>linear_scale</mat-icon>
          {{recipe.options.steps.length}} Steps &nbsp;
          <mat-icon>history</mat-icon>&nbsp;{{recipe.options.version}} &nbsp;
          <mat-icon>person</mat-icon>&nbsp;{{recipe.options.author}}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
      <p>{{recipe.options.description}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button [routerLink]="['/recipe', recipe.id]">
      <mat-icon>details</mat-icon>
      Details
    </button>
    <button mat-button (click)="addToPlayList(recipe.id)">
      <mat-icon>playlist_add</mat-icon>
      Add to Playlist
    </button>
  </mat-card-actions>
</mat-card>
