<div *ngIf="recipe; else noRecipeBlock">
  <mat-card class="dashboard-card">
    <mat-card-header>
      <mat-card-title>
        <h1 class="mat-h1">Recipe Overview</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="dashboard-card-content">
  <mat-list>
    <mat-list-item>Name: {{recipe.options.name}}</mat-list-item>
    <mat-list-item>Version: {{recipe.options.version}}</mat-list-item>
    <mat-list-item>Status: {{recipe.recipe_status}}</mat-list-item>

  </mat-list>


      <button [disabled]="!startAllowed()" (click)="start()" mat-raised-button>Start</button>
      <button [disabled]="!resetAllowed()" (click)="reset()" mat-raised-button>Reset</button>
      <button [disabled]="!stopAllowed()" (click)="stop()" mat-raised-button>Stop</button>
      <button [disabled]="!abortAllowed()" (click)="abort()" mat-raised-button>Abort</button>
    </mat-card-content>
  </mat-card>

  <mat-card class="dashboard-card">
    <mat-card-header>
      <mat-card-title>
        <h1 class="mat-h1">Current Step</h1>
      </mat-card-title>
      <mat-card-subtitle>{{recipe.current_step.name}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <h2 class="mat-h2">Operations</h2>
      <mat-list>
        <mat-list-item *ngFor="let operation of recipe.current_step.operations">
          <p mat-line>Module: {{operation.module}}</p>
          <p mat-line>Service: {{operation.service}}</p>
          <p mat-line>Command: {{operation.command}}</p>
        </mat-list-item>
      </mat-list>
      <h2 class="mat-h2">Current Transitions</h2>
      <mat-list>
        <mat-list-item *ngFor="let trans of recipe.current_step.transitions">
          <p mat-line>Next Step: {{trans.next_step}}</p>
          <p mat-line>Condition: {{trans.condition | json}}</p>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <mat-card class="dashboard-card">
    <mat-card-header>
      <mat-card-title>
        <h1 class="mat-h1">Recipe Options</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="example-container">
          <textarea matInput
                    placeholder="Current recipe options"
                    disabled
                    matTextareaAutosize
                    matAutosizeMinRows="5"
                    matAutosizeMaxRows="20"
                    [value]="recipe.options | json"></textarea>
      </mat-form-field>
      <button mat-button routerLink="/recipe/new">New/Edit Recipe</button>
    </mat-card-content>
  </mat-card>

</div>


<ng-template #noRecipeBlock>
  No recipe loaded yet
</ng-template>



