.dashboard-card {
  margin-bottom: 1em;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

