<h1 class="mat-display-1">Add new Module</h1>

<mat-horizontal-stepper linear="true" #stepper>
    <mat-step label="Load MTP or JSON">
        <button type="button" mat-button color="primary" (click)="imgFileInput.click()">Load from file</button>
        <input hidden type="file" #imgFileInput (change)="previewFile($event)"/>
        <button mat-button color="warn" (click)="cancel()">Cancel</button>
    </mat-step>
    <mat-step label="Configure PEA">
        <p *ngFor="let module of modules">
            <mat-form-field>
                <input matInput type="text" [(ngModel)]="module.id" placeholder="ID">
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput type="text" [(ngModel)]="module.opcua_server_url" placeholder="OPC UA Server URL">
            </mat-form-field>
            <br>
            Services: <mat-chip-list selectable="false">
                <mat-chip *ngFor="let service of module.services">{{service.name}}</mat-chip>
            </mat-chip-list>
            <br>
            # Process Values: {{module.process_values.length}}
        </p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button color="primary" [disabled]="modules==undefined" (click)="addModule()">Add</button>
            <button mat-button color="warn" (click)="cancel()">Cancel</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>


