<h1 mat-dialog-title>Load new module</h1>
<mat-dialog-content>
<mat-horizontal-stepper linear="true" #stepper>
    <mat-step label="Load MTP or JSON">
        <button type="button" mat-button color="primary" (click)="imgFileInput.click()">Load from file</button>
        <input hidden type="file" #imgFileInput (change)="previewFile($event)"/>
    </mat-step>
    <mat-step label="Configure PEA">
        <div *ngFor="let module of modules">
            <h2 class="mat-h2">Instance information</h2>
            <form>
                <mat-form-field>
                    <input matInput type="text" [(ngModel)]="module.id" placeholder="ID" name="id">
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="text" [(ngModel)]="module.opcua_server_url" placeholder="OPC UA Server URL" name="opcua">
                </mat-form-field>
            </form>

            <h2 class="mat-h2">Services</h2>
            <mat-chip-list selectable="false">
                <mat-chip *ngFor="let service of module.services">{{service.name}}</mat-chip>
            </mat-chip-list>
            <h2 class="mat-h2">Process values</h2>
            {{module.process_values.length}}
        </div>
    </mat-step>
</mat-horizontal-stepper>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button color="primary" [disabled]="modules==undefined" (click)="addModule()">Add</button>
    <button mat-button color="warn" mat-dialog-close>Cancel</button>
</mat-dialog-actions>
