<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/player" routerLinkActive="active">
        <mat-icon mat-list-icon>playlist_play</mat-icon>
        <span matBadgeOverlap="false" [matBadge]="(backend.playerService.player | async)?.playlist.length">Playlist</span>
      </a>
      <a mat-list-item routerLink="/recipe" routerLinkActive="active">
        <mat-icon mat-list-icon>receipt</mat-icon>
        <span matBadgeOverlap="false" [matBadge]="(backend.recipeService.recipes | async)?.length">Recipes</span>
      </a>
      <a mat-list-item routerLink="/modules" routerLinkActive="active">
        <mat-icon mat-list-icon>view_module</mat-icon>
        <span matBadgeOverlap="false" [matBadge]="(backend.moduleService.modules | async)?.length">Modules</span>
      </a>
      <a mat-list-item routerLink="/trendview" routerLinkActive="active">
        <mat-icon mat-list-icon>timeline</mat-icon>
        <span>TrendView</span>
      </a>
      <a mat-list-item routerLink="/logs" routerLinkActive="active">
        <mat-icon mat-list-icon>history</mat-icon>
        Logs
      </a>
      <a mat-list-item routerLink="/settings" routerLinkActive="active">
        <mat-icon mat-list-icon>settings</mat-icon>
        Settings
      </a>
      <a mat-list-item routerLink="/about" routerLinkActive="active">
        <mat-icon mat-list-icon>help</mat-icon>
        About
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
        <span class="fill-remaining-space">PFE Recipe Engine by P2O-Lab</span>
        <!--
          <button mat-button>STOP ALL services</button>
          <button mat-button>ABORT ALL services</button>
        -->
        <img height="48px" src="assets/P2O-RGB.png">
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="grid-container mat-typography">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<ngx-loading-bar [color]="'red'" [includeSpinner]="false"></ngx-loading-bar>
