.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}


.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 100;
}

.grid-container {
  margin: 20px;
}

.mat-nav-list a.active {
  background: #FAFAFA;
}

.fill-remaining-space {
    flex: 1 1 auto;
}