<h1 class="mat-h1">Logs</h1>
<a mat-button [href]="logUrl">
    <span class="with-icon"><mat-icon>cloud_download</mat-icon>&nbsp;Download Log</span>
</a>
<a mat-button [href]="logServiceUrl">
    <span class="with-icon"><mat-icon>cloud_download</mat-icon>&nbsp;Download Service Log</span>
</a>
<a mat-button [href]="logVariableUrl">
    <span class="with-icon"><mat-icon>cloud_download</mat-icon>&nbsp;Download Variable Log</span>
</a>

<div *ngIf="logs$ | async as logs; else loading">
  <p *ngFor="let item of logs">{{item}}</p>
</div>

<ng-template #loading>loading logs ...</ng-template>