// Import material theming functions
@import '~@angular/material/theming';
@import 'app/recipe-overview/recipe-overview.component';
@import 'styles/theme';

@import '~open-sans-fontface/open-sans.css';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define a theme.
$palette-primary: mat-palette($mat-indigo);
$palette-accent: mat-palette($mat-purple);
$palette-warn: mat-palette($mat-red);
$theme: mat-light-theme($palette-primary, $palette-accent, $palette-warn);

// Include all theme styles for the components.
@include angular-material-theme($theme);
@include recipe_overview_theme($theme);

// Define a custom typography config
$custom-typography: mat-typography-config(
        $font-family: "'Open Sans', Roboto, sans-serif"
);
// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($custom-typography);

// Dynamic style switcher
$themes-map: (
  indigo-purple: (
    primary-base: $mat-indigo,
    accent-base: $mat-purple,
  ),

  deeppurple-amber: (
    primary-base: $mat-deep-purple,
    accent-base: $mat-amber,
  ),

  pink-bluegrey: (
    primary-base: $mat-pink,
    accent-base: $mat-blue-gray,
  ),

  purple-green: (
    primary-base: $mat-purple,
    accent-base: $mat-green,
  ),
);

// Import the module and do the job:
@import '~angular-material-dynamic-themes/themes-core';
@include make-stylesheets($themes-map);

/** Custom CSS here **/
html, body {
  height: 100%;
}

body {
  margin: 0;
}
