<mat-card>
<mat-card-header>
  <mat-card-title> <h2 class="mat-h2">TrendView</h2></mat-card-title>
</mat-card-header>
  <mat-card-content>
    <div [chart]="chart"></div>
  </mat-card-content>
</mat-card>


    <mat-card *ngFor="let module of data" style="margin-top: 10px">
      <mat-card-header>
        <mat-card-title><h2 class="mat-h2">{{module.moduleName}}</h2></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li *ngFor="let variable of module.variables">
            {{variable.variableName}} = {{variable.recentValue | number}}
          </li>
        </ul>

      </mat-card-content>
    </mat-card>
