<h1 mat-dialog-title>Configure Service Parameters of Module {{module.id}}</h1>
<form #parameterForm="ngForm">
    <mat-dialog-content>
        <div *ngFor="let service of module.services">
            <h2 class="mat-h2">{{service.name}}</h2>
            <p *ngIf="service.parameters.length==0">
                No parameters for this service
            </p>
            <mat-form-field *ngFor="let param of service.parameters">
                <input matInput type="number" [name]="service.name + '>' + param.name" [ngModel]="param.value"
                       [placeholder]="param.name" [min]="param.min" [max]="param.max">
                <mat-hint *ngIf="param.min || param.max">({{param.min | number}} - {{param.max | number}})
                </mat-hint>
            </mat-form-field>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button class="mat-warn" mat-dialog-close>Abort & Close</button>
        <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
        <button mat-button (click)="save(parameterForm)">Save & Close</button>
    </mat-dialog-actions>
</form>

