<h1 class="mat-h1">Settings</h1>

<h2 class="mat-h2">URLs</h2>
<form class="example-container" [formGroup]="formGroup" (ngSubmit)="saveUrls()">
  <mat-form-field>
    <input matInput name="apiUrl" type="text" formControlName="apiUrl" placeholder="URL for Backend API">
  </mat-form-field>
  <mat-form-field>
    <input matInput name="mtpConverterUrl" type="text" formControlName="mtpConverterUrl"
           placeholder="URL for MTP Converter API" name="mtpConverterUrl">
  </mat-form-field>
  <p>
    <button mat-flat-button type="submit" color="primary">Save URLs</button>
  </p>
</form>

<h2 class="mat-h2">Features</h2>

<p>
  <mat-checkbox [(ngModel)]="settings.enableServiceLauncher" name="enableServiceLauncher">Enable Service Launcher
  </mat-checkbox>
</p>

<p>
  <mat-checkbox [(ngModel)]="backend.autoReset" name="autoReset">AutoReset (POL automatically resets a service when it
    goes to COMPLETED)
  </mat-checkbox>
</p>

<h2 class="mat-h2">Appearance</h2>
<form>
  <p>
    <mat-checkbox name="enableAmbientAdaption" (change)="enableAmbientAdaption($event)">
    Enable ambient light adaption
    </mat-checkbox>
  </p>
  <p>
    <mat-checkbox #forceDarkmodeCheckbox name="forceDarkmode" (change)="toggleDarkmode($event)">
    Force Darkmode
    </mat-checkbox>
  </p>

</form>

<h2 class="mat-h2"> Orientation assistance</h2>
<form>
  <mat-checkbox name="enableOrientationAssistance" checked="true" [(ngModel)]="settings.orientationAssistance">
    Enable orientation assistance for mobile devices
  </mat-checkbox>
</form>

<h2 class="mat-h2">Version information</h2>
<p>Version Backend: {{backendVersion }}</p>
<p>Version Frontend: {{frontendVersion}}</p>
