<h1 class="mat-h1">Settings</h1>

<h2 class="mat-h2">URLs</h2>
<form>
<mat-form-field class="example-container">
  <input matInput name="settings.apiUrl" #apiUrl="ngModel" type="text" [(ngModel)]="settings.apiUrl"
         placeholder="URL for Backend API">
</mat-form-field>
<mat-form-field class="example-container">
  <input matInput name="settings.mtpConverterUrl" #mtpConverterUrl="ngModel" type="text" [(ngModel)]="settings.mtpConverterUrl"
           placeholder="URL for MTP Converter API">
</mat-form-field>

<mat-checkbox [(ngModel)]="backend.autoReset" name="autoReset">AutoReset (POL automatically resets a service when it goes to COMPLETED)
</mat-checkbox>

</form>
<p>
  <button mat-flat-button color="primary" (click)="back()">Save & Back</button>
</p>

<h2 class="mat-h2"
    matTooltip="This feature is part of the demonstrator for the fall colloqium 2019 of the PhD Project of Sebastian Heinze">
  Appearance
</h2>
<form>
  <mat-checkbox name="forceDarkmode" (click)="toggleDarkmode()">
    Force Darkmode
  </mat-checkbox>
</form>

<h2 class="mat-h2"
    matTooltip="This feature is part of the demonstrator for the fall colloqium 2019 of the PhD Project of Sebastian Heinze">
  Orientation assistance</h2>
<form>
  <mat-checkbox name="enableOrientationAssistance"
                checked="true">
    Enable orientation assistance
  </mat-checkbox>
</form>

<h2 class="mat-h2">Maintenance</h2>
<p>Version Backend: {{backendVersion }}</p>
<p>Version Frontend: {{frontendVersion}}</p>
<p>
    <button mat-stroked-button color="warn" (click)="shutdown()" matTooltip="Shutdown backend. It should automatically restart. Thus, reload this page after a few seconds.">Shutdown</button>
</p>
